* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: url("./src/images/galaxy_starfield.png") no-repeat center center fixed;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  color: white;
  font-family: 'Space Mono', monospace;
  min-height: 100vh;
}
header{
  font-size: 2rem;
}
header{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
div{
  display: flex;
  justify-content: center;
}

#loading_info{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  z-index: 5;
}
#info{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  z-index: 5;
}

#play,
#stop, #reset{
  background: #002169;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 2rem;
  margin: 0.25rem;
  z-index: 5;
}
#play{
  background: rgb(73,204,73);
}
#stop{
  background: rgb(212,0,0);
}

#stop:disabled,
#stop[disabled]{
  background-color: #cccccc;
  color: #666666;
}

#play:disabled,
#play[disabled]{
  background-color: #cccccc;
  color: #666666;
}
